@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-primary:#1f2937;
}
body
{
    font-family: 'Montserrat', sans-serif;
}

.container
{
  padding: 0rem 1rem;
}

.container-center
{
    max-width: 600px;
    margin: auto;
}

/** links **/

.link
{
     text-decoration: none;
     padding: 0.5rem 1rem;
}
.link-primary
{
    background-color:var(--color-primary);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary
{
    color: var(--color-primary);
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary);
}